numpy==1.15.0
matplotlib==2.2.2
nltk==3.4.5
docopt==0.6.2
tqdm==4.41.1
jupyter==1.0.0
Keras==2.0.8
seaborn==0.9.0
tensorflow==1.15.4
pyyaml
cvxpy
Scikit-learn
spicy
requests
pandas
pytorch
beautifulsoup



